/* styles.css */
.active-order-button {
    margin-bottom: 10px;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    width: 120px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    background-color: white;
}

.active-order-button.vip {
    border: 1px solid #e1ad01;
    color: #000;
}

.active-order-button.vip:hover {
    background-color: #FCF7E3 !important;
}

.active-order-button:not(.vip) {
    border: 1px solid #ABABAB;
    color: #000;
}

.active-order-button:not(.vip):hover {
    background-color: #EEEEEE !important;
}

.active-orders-container {
    margin-top: 10px;
}

.active-orders-container span {
    font-weight: bold;
    border-top: 1px solid #e4e7ed;
    display: inline-block;
    width: 100%;
    line-height: 30px;
}

.no-active-orders {
    color: #888;
    margin-bottom: 10px;
}
